.focal-point-indicator {
  width: 1px;
  height: 1px;
  cursor: move;
  position: absolute !important;
}

.focal-point-indicator:after {
  /*content: '⌖';*/
  content: '+';
  color: white;
  cursor: move;
  text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
  width: .75em;
  height: .75em;
  font-size: 1.5em;
  line-height: .75em;
  display: block;
  position: relative;
  top: -.375em;
  left: -.375em;
}

.focal-point-wrapper {
  display: inline-block;
  position: relative;
  direction: ltr;
}

.focal-point-preview-link {
  display: block;

  &::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    mask-image: var(--icon-magnifying-glass);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentColor;
    margin-right: .25rem;
  }
}

.focal-point-examples {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  > .focal-point-preview {
    max-width: 300px;
  }

  > .focal-point-preview--original {
    max-width: 100%;
    min-width: 100%;

    img {
      max-width: 300px;
    }
  }
}

.image-widget:has(.focal-point-wrapper) {
  display: flex;
}
